## 1. Introducing Dictionaries (curly brackets)

A dictionary is an unordered set of key-value pairs. When you add a key to a dictionary, you must also add
a value for that key. (You can always change the value later.) Python dictionaries are optimized for retrieving
the value when you know the key, but not the other way around.

One of Python's built−in datatypes is the dictionary, which defines one−to−one relationships between keys and values. Key is __unique__.<br>
Note: Key can be string, int, float, boolean, tuple. Value can be any object. (Everything in Python is object.)

In [ ]:
  {key1: value1, 
   key2: value2, 
   key3: value3,
       ...
   }
8

In [2]:
# d = dict({"server":12, "database":"master"})
d = {"server":12, "database":["master", 9, True]}
print(d)

{'server': 12, 'database': ['master', 9, True]}

In [3]:
len(d)

2

In [5]:
"server" in d  #You can get values by key, but you can’t get keys by value

True

In [ ]:
# You can also create a dictionary with such syntax. The combination of (key, value) is called item.
d = dict([("server",12), ("database","master")])
print(d)

In [ ]:
d = {}

In [9]:
d['name'] = 'Dan'
d['name2'] = 'Daniel'
"name" in d

True

In [10]:
d['database']  #You can get values by key, but you can’t get keys by value

['master', 9, True]

In [11]:
d["server"] = 15
d

{'server': 15,
 'database': ['master', 9, True],
 'name': 'Dan',
 'name2': 'Daniel'}

In [12]:
d["client"] = 20
d[0] = 'dan'
print(d)

{'server': 15, 'database': ['master', 9, True], 'name': 'Dan', 'name2': 'Daniel', 'client': 20, 0: 'dan'}

In [13]:
d["peter"] = {1: 'One'}
print(d)

{'server': 15, 'database': ['master', 9, True], 'name': 'Dan', 'name2': 'Daniel', 'client': 20, 0: 'dan', 'peter': {1: 'One'}}

In [14]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [15]:
a = d.keys()
print(a)
b = d.values()
print(b)

dict_keys(['server', 'database', 'name', 'name2', 'client', 0, 'peter'])
dict_values([15, ['master', 9, True], 'Dan', 'Daniel', 20, 'dan', {1: 'One'}])

## 2.for statement, while statement, if else statement

In [ ]:
if condition1:
    body1
else:
    body2
go on

In [ ]:
# pseudo code
if condition1:
    body1
elif condition2:
    body2
elif conditionsss:
    bodys
else:
    body3
out_of_statement

In [16]:
x = 100
# simple if statement
# each control line must end with colon (:) 
if False:   
    # each line in the block should be 
    # indented with the same amount                                  
    print ("the value of x >= 50")   
print("done!")

done!

In [17]:
# if...else statement
if x>=200:
    print ("the value of x >= 200")
else:
    print ("the value of x < 200")

the value of x < 200

In [18]:
# if...elif...else statement
if 0:
    print ("the value of x >= 200")
elif x>=50:
    print ("the value of x >= 50 and <200")
else:
    print ("the value of x < 50")

the value of x >= 50 and <200

In [19]:
# nested statements
x=300
y=500
if x>=200:  
    # inner "if" and "else" need to indent the same amount
    if x>=y:              
        if x == 0:
            print ('hellp')     
        else:
            print ("the value of x >= 200 and x>=y")
    else:
        print ("the value of x >= 200 and x<y")
else:
    print ("the value of x < 200")

the value of x >= 200 and x<y

In [20]:
#practice 
word_count_dict={"hello":2,"FE":3, "iphone":2, 'FE1':1}
new_word="FE2"

In [22]:
if new_word in word_count_dict:
    word_count_dict[new_word] = word_count_dict[new_word] + 1
else:
    word_count_dict[new_word] = 1
word_count_dict

{'hello': 2, 'FE': 3, 'iphone': 2, 'FE1': 1, 'FE2': 2}

In [ ]:
# pseudo code
for varible in iterator/generator:
    body

out_of_statement

In [23]:
for item in [1,2,3,4,5]:
    print ('hello')

hello
hello
hello
hello
hello

In [24]:
list(range(101))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [ ]:
s = 0
for i in range(101):
    s += i
    print(i)
print(s)

In [ ]:
d = {'a': 100, 'b': 200, 'c': 300}
for i in d:
    print(d[i])

In [ ]:
# pseudo code
while condition:
    body

out_of_statement

In [25]:
i = 0
while i<10:
    print(i)
    i += 1
print ('out:', i)

0
1
2
3
4
5
6
7
8
9
out: 10

In [30]:
# initiate an empty list
list1=[]  

# loop through any iterable object, e.g. 
# list, tuple, set, dictionary
for idx,x in enumerate(range(1,6)):    
    # append x**2 to the list
    print(idx,x*x)

0 1 500 1
1 2 500 4
2 3 500 9
3 4 500 16
4 5 500 25

In [31]:
# A compact ways to use for loop in assigment
list1=[x*x for x in range(1,6)]
print ("Square of each element in [1:6]:", list1)

Square of each element in [1:6]: [1, 4, 9, 16, 25]

In [33]:
# Get index of each element during loop

list1=[3,5,2,4,1]

# enumerate(list1) converts a sequence to an iterator 
# which returns a tuple at a time
# starting from (0, list1[0]), (1, list1[1]), ... to the end
# where 0,1, .. is the index if each element in list1

list2=[(idx+1,x*2) for idx,x in enumerate(list1) ]  
print(list2)

# Questions: 
# 1. how to show indexes starting from 1, not 0?
# 2. how to get squared value of elements along with index

[(1, 6), (2, 10), (3, 4), (4, 8), (5, 2)]

In [34]:
# Another way: only one variable item is used 
list2=[[item[0],item[1]] for item in enumerate(list1)]  
print("index and value of each element \
in the list as a new list of tuple :\n", list2)

index and value of each element in the list as a new list of tuple :
 [[0, 3], [1, 5], [2, 2], [3, 4], [4, 1]]

In [36]:
# Cobmine for loop with if statement

list3=[(idx,x) for idx,x in enumerate([-2,5,-9,3,-4,12,1,8]) if x > 2]

print("\nget each **positive** element and its index \
in the list as a list of tuple")
print (list3)

# Questions:
# 1. how to get elements if their indexs > 2 ; 
# 2. how to get elements with even indexes?

get each **positive** element and its index in the list as a list of tuple
[(1, 5), (3, 3), (5, 12), (7, 8)]

In [37]:
list1=[1, 2, 3, 5, 10, 1, 4, 1, 11, 20, 50, 100]

# get the count of each number as a dictionary
counts={1:3, 2:1, 3:1, 4:1}

In [38]:
counts = {}
for new_word in list1:
    if new_word in counts:
        counts[new_word] = counts[new_word] + 1
    else:
        counts[new_word] = 1
counts

{1: 3, 2: 1, 3: 1, 5: 1, 10: 1, 4: 1, 11: 1, 20: 1, 50: 1, 100: 1}

In [39]:
# Use loop to create a dictionary


for item in list1:
    if item in counts:
        counts[item] += 1
    else:
        counts[item] = 1
print (counts)


# any compact way to achieve this?

{1: 6, 2: 2, 3: 2, 5: 2, 10: 2, 4: 2, 11: 2, 20: 2, 50: 2, 100: 2}

In [40]:
dict((item, list1.count(item)) for item in (list1))

{1: 3, 2: 1, 3: 1, 5: 1, 10: 1, 4: 1, 11: 1, 20: 1, 50: 1, 100: 1}

In [41]:
# nested loops

print("\nnested loops")
for x in range(1,3):    
    for y in [1.2, 3.5]:
        print (x*y)

# a compact way to nest loops
xy=[x*y for x in range(1,3) for y in [1.2, 3.5]]    

print (xy)

nested loops
1.2
3.5
2.4
7.0
[1.2, 3.5, 2.4, 7.0]

#### Keywords: break & continue 
* __break__ will break the current loop
* __continue__ will skip the rest of loop body.

In [ ]:
for i in range(10):
    for ii in range (11):
        print (ii)
        if ii > 5:
            break

In [ ]:
i = 0
while True:
    print(i)
    i += 1
    
    if i > 10:
        break
        
print('loop finished. i is %s'% i)

In [ ]:
i = 0
while i <10:
    i += 1
    if i > 5:
        continue 
    print(i)
    
print('loop finished. i is %s'% i)

## 3. Define functions
* Using keyword 'def' to define a function , the format looks like this:
* parameters have to be inside the ()
* Put explanation in the first line of function
* start as :, and indentation
* Return for the end of function, return None if we don't have return

In [42]:
def hi(x,y):
    '''
    this is test, 
    x is int, y is str, out is list
    '''
    print (x, y)
    if x == 0:
        print('x0')
hi(0,1)

0 1
x0

In [43]:
out = hi(10, 'hi')
out

10 hi

In [44]:
print('Hello David')
print('Hello Iris')

def hello(name):
    print('Hello %s'% name)
    
hello('Dan')

Hello David
Hello Iris
Hello Dan

In [45]:
def myFunctionName(arg1, arg2, arg3 = 10):
    print(arg1)
    return arg2*arg3    

print(myFunctionName(1,2))
print(myFunctionName(1,2,3))

1
20
1
6

In [47]:
def SumOfList(ls):
    s = 0
    for ele in ls:
        s += ele
    print (s)
    return str(s)

In [48]:
out = SumOfList([1,2,3,4,5])
out

15

'15'

In [54]:
def reverseList(ls):
    
    return ls[::-1], len(ls)
test_list = range(5)
print("test list: ",list(test_list))

new_list = reverseList(list(test_list))
print("Reversed List: ", new_list)

test list:  [0, 1, 2, 3, 4]
Reversed List:  ([4, 3, 2, 1, 0], 5)

In [58]:
# Exercise : Define a function to
# remove all occurrences of a value from a list 
# Requirements:
# 1. two input parameters, a list and a value
# 2. return a list that does not contain the value
#    e.g. if inputs are [1,3,2,2] and 2, the return
#    should be [1,3]

def remove_all(aList, v):
    # add your code
    for x in aList:
        if x == v:
            aList.remove(v)
    return aList

In [59]:
L=[1,3,2,2]
print("remove 2: ", remove_all(L,2))

remove 2:  [1, 3, 2]

In [61]:
def remove_all(aList, v):
    bList = aList.copy()
    print(bList)
    for x in aList:       
        if x==v:
            bList.remove(v)
        #print(aList)
    return bList

# try this:
L=[1,3,2,2]
print("remove 3: ", remove_all(L,3))

L=[1,3,2,2]
print("remove 2: ", remove_all(L,2)) #why?

[1, 3, 2, 2]
remove 3:  [1, 2, 2]
[1, 3, 2, 2]
remove 2:  [1, 3]