# Time Series

## 1. Date and Time Data Types and Tools

In [2]:
from datetime import datetime

now = datetime.now()
print(now.year, now.month, now.day)
now

2020 12 1

datetime.datetime(2020, 12, 1, 10, 56, 21, 183584)

In [3]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
print(delta)

926 days, 15:45:00

In [4]:
print(delta.days)
print (delta.seconds)

926
56700

In [5]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(4)

datetime.datetime(2011, 1, 11, 0, 0)

In [6]:
start - 2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

Type Description  
date: Store calendar date (year, month, day) using the Gregorian calendar.  
time: Store time of day as hours, minutes, seconds, and microseconds  
datetime: Stores both date and time  
timedelta: Represents the difference between two datetime values (as days, seconds, and microseconds)

### 1.1 Coverting between string and datetime

In [7]:
stamp = datetime(2011, 1, 3)
print (stamp)
str(stamp)

2011-01-03 00:00:00

'2011-01-03 00:00:00'

In [8]:
stamp.strftime('%y_%m-%d')

'11_01-03'

Type Description  
%Y 4-digit year   
%y 2-digit year  
%m 2-digit month [01, 12]  
%d 2-digit day [01, 31]  
%H Hour (24-hour clock) [00, 23]  
%I Hour (12-hour clock) [01, 12]  
%M 2-digit minute [00, 59]  
%S Second [00, 61] (seconds 60, 61 account for leap seconds)  
%w Weekday as integer [0 (Sunday), 6]  
%U Week number of the year [00, 53]. Sunday is considered the first day of the week, and days before the first
Sunday of the year are “week 0”.  
%W Week number of the year [00, 53]. Monday is considered the first day of the week, and days before the first
Monday of the year are “week 0”.  
%z UTC time zone offset as +HHMM or -HHMM, empty if time zone naive  
%F Shortcut for %Y-%m-%d, for example 2012-4-18  
%D Shortcut for %m/%d/%y, for example 04/18/12

In [9]:
value = '201101/03'
datetime.strptime(value, '%Y%m/%d')

datetime.datetime(2011, 1, 3, 0, 0)

It can be a bit annoying to have to write a format spec each time, especially for common date formats. In this case, you can use the *parser.parse* method in the third party *deteutil* package:

pandas is generally oriented toward working with arrays of dates, whether used as an axis index or a column in a DataFrame.

In [10]:
import pandas as pd
datestrs = ['7/6/2011', '8/6/2011']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [11]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [12]:
pd.isnull(idx)

array([False, False,  True])

### 1.2 Time Series Basics

The most basic kind of time series object in pandas is a Series indexed by timestamps, which is often represented external to pandas as Python strings or *datetime* objects.

In [13]:
import numpy as np
import pandas as pd

from datetime import datetime
from pandas import Series, DataFrame

dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]

ts = Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.655306
2011-01-05   -0.075403
2011-01-07   -0.090160
2011-01-08   -0.641883
2011-01-10   -0.080750
2011-01-12   -0.509855
dtype: float64

In [14]:
type(ts)

pandas.core.series.Series

In [15]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [16]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [17]:
ts[::2]

2011-01-02    0.655306
2011-01-07   -0.090160
2011-01-10   -0.080750
dtype: float64

In [18]:
ts[::2] + ts

2011-01-02    1.310613
2011-01-05         NaN
2011-01-07   -0.180319
2011-01-08         NaN
2011-01-10   -0.161499
2011-01-12         NaN
dtype: float64

### 1.3 Indexing, Selection, Subsetting

In [19]:
stamp = ts.index[2:]
stamp

DatetimeIndex(['2011-01-07', '2011-01-08', '2011-01-10', '2011-01-12'], dtype='datetime64[ns]', freq=None)

In [20]:
ts[stamp]

2011-01-07   -0.090160
2011-01-08   -0.641883
2011-01-10   -0.080750
2011-01-12   -0.509855
dtype: float64

As a convenience, you can also pass a string that is interpretable as a data.

In [21]:
ts['1/10/2011']

-0.08074952806218305

In [22]:
ts['2011-01-10']

-0.08074952806218305

For longer time series, a year or only a year and month can be passed to easily select slices of data.

In [23]:
longer_ts = Series(np.random.randn(1000),
                   index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    1.125011
2000-01-02    0.023302
2000-01-03   -0.828678
2000-01-04    0.966515
2000-01-05    1.620707
                ...
2002-09-22   -0.130584
2002-09-23    0.428665
2002-09-24   -2.517946
2002-09-25    0.027675
2002-09-26    0.554929
Freq: D, Length: 1000, dtype: float64

In [24]:
longer_ts['2001']

2001-01-01   -1.296432
2001-01-02   -0.687356
2001-01-03   -1.119570
2001-01-04   -0.157488
2001-01-05    1.652954
                ...
2001-12-27   -0.547459
2001-12-28    0.101531
2001-12-29   -0.081265
2001-12-30   -0.690524
2001-12-31   -1.599052
Freq: D, Length: 365, dtype: float64

In [25]:
longer_ts['2001-05']

2001-05-01   -0.426631
2001-05-02   -2.832683
2001-05-03   -0.826910
2001-05-04    0.751283
2001-05-05   -0.830511
2001-05-06   -1.247793
2001-05-07   -0.684716
2001-05-08   -1.034651
2001-05-09   -2.588692
2001-05-10   -0.298393
2001-05-11   -0.039005
2001-05-12    2.636511
2001-05-13   -0.426478
2001-05-14    0.483326
2001-05-15    0.074253
2001-05-16   -0.538825
2001-05-17    0.180888
2001-05-18   -0.338378
2001-05-19    0.726851
2001-05-20    0.891940
2001-05-21    0.539974
2001-05-22   -0.766969
2001-05-23   -1.031437
2001-05-24   -1.557570
2001-05-25    0.739394
2001-05-26   -0.744715
2001-05-27    0.747822
2001-05-28   -1.461066
2001-05-29    0.373308
2001-05-30    0.311856
2001-05-31   -1.163720
Freq: D, dtype: float64

In [26]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.090160
2011-01-08   -0.641883
2011-01-10   -0.080750
2011-01-12   -0.509855
dtype: float64

In [27]:
ts['1/6/2011':'1/10/2011']

2011-01-07   -0.090160
2011-01-08   -0.641883
2011-01-10   -0.080750
dtype: float64

### 1.4 Time Series with Duplicate Indices

In [29]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', 
                          '1/2/2000', '1/3/2000'])

dup_ts = Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [32]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [35]:
dup_ts.index.is_unique

False

In [31]:
new_ts = dup_ts.index.drop_duplicates()
new_ts

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03'], dtype='datetime64[ns]', freq=None)

In [37]:
dup_ts['1/3/2000']

4

In [38]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

## 2. Date Range, Frequencies, and Shifting

In [38]:
ts

2011-01-02   -1.221184
2011-01-05   -0.774875
2011-01-07    1.995765
2011-01-08    0.745510
2011-01-10    0.135523
2011-01-12   -0.149664
dtype: float64

Converting it to be fixed daily frequency can be accomplished by caling *resample*.

In [40]:
ts.resample('D').bfill()

2011-01-02   -1.221184
2011-01-03   -0.774875
2011-01-04   -0.774875
2011-01-05   -0.774875
2011-01-06    1.995765
2011-01-07    1.995765
2011-01-08    0.745510
2011-01-09    0.135523
2011-01-10    0.135523
2011-01-11   -0.149664
2011-01-12   -0.149664
Freq: D, dtype: float64

### 2.1 Generating Date Ranges

In [48]:
index = pd.date_range('4/1/2012', '6/1/2012')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [49]:
pd.date_range(start='4/1/2012', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [51]:
pd.date_range('1/1/2000', '12/31/2000', freq='BM') #business day end of month

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

In [52]:
pd.date_range('5/2/2012 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

### 2.2 Frequencies and Date Offsets

Alias Offset Type Description  
D Day Calendar daily  
B BusinessDay Business daily  
H Hour Hourly  
T or min Minute Minutely  
S Second Secondly  
L or ms Milli Millisecond (1/1000th of 1 second)  
U Micro Microsecond (1/1000000th of 1 second)  
M MonthEnd Last calendar day of month  
BM BusinessMonthEnd Last business day (weekday) of month  
MS MonthBegin First calendar day of month  
BMS BusinessMonthBegin First weekday of month  
W-MON, W-TUE, ... Week Weekly on given day of week: MON, TUE, WED, THU, FRI, SAT,or SUN.  
WOM-1MON, WOM-2MON, ... WeekOfMonth Generate weekly dates in the first, second, third, or fourth week of the month.   For example, WOM-3FRI for the 3rd Friday of each month.  
Q-JAN, Q-FEB, ... QuarterEnd Quarterly dates anchored on last calendar day of each month, for year ending in indicated month: JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, or DEC.  
BQ-JAN, BQ-FEB, ... BusinessQuarterEnd Quarterly dates anchored on last weekday day of each month, for year ending in indicated month  
QS-JAN, QS-FEB, ... QuarterBegin Quarterly dates anchored on first calendar day of each month, for year ending in indicated month  
BQS-JAN, BQS-FEB, ... BusinessQuarterBegin Quarterly dates anchored on first weekday day of each month, for year ending in indicated month   
A-JAN, A-FEB, ... YearEnd Annual dates anchored on last calendar day of given month: JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, or DEC.  
BA-JAN, BA-FEB, ... BusinessYearEnd Annual dates anchored on last weekday of given month  
AS-JAN, AS-FEB, ... YearBegin Annual dates anchored on first day of given month  
BAS-JAN, BAS-FEB, ... BusinessYearBegin Annual dates anchored on first weekday of given month

In [53]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [54]:
four_hours = Hour(4)
four_hours

In most applications, you would never need to explicitly create one of these objects,
instead using a string alias like 'H' or '4H'. Putting an integer before the base frequency
creates a multiple:

In [55]:
dr_tmp = pd.date_range('1/1/2000', '1/3/2000 23:59', freq='4h')
dr_tmp

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [56]:
dr_tmp[0] + Hour(2)

Timestamp('2000-01-01 02:00:00', freq='4H')

In [57]:
pd.date_range('1/1/2000', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

### 2.3 Week of Month Dates

In [41]:
rng = pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

Traders of US equity options will recognize these dates as the stadard dates of monthly expiry.

### 2.4 Shifting (Leading and Lagging) Data

In [42]:
ts = Series(np.random.randn(4),
            index=pd.date_range('1/1/2000', periods=4, freq='BM'))
ts

2000-01-31   -1.778731
2000-02-29   -0.716222
2000-03-31   -0.626784
2000-04-28    1.077864
Freq: BM, dtype: float64

In [46]:
ts.shift(1)

2000-01-31         NaN
2000-02-29   -1.778731
2000-03-31   -0.716222
2000-04-28   -0.626784
Freq: BM, dtype: float64

In [45]:
ts.shift(-2)

2000-01-31   -0.626784
2000-02-29    1.077864
2000-03-31         NaN
2000-04-28         NaN
Freq: BM, dtype: float64

In [47]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -0.597341
2000-03-31   -0.124875
2000-04-28   -2.719673
Freq: BM, dtype: float64

In [ ]:
ts.shift(2, freq='M')

## 3. Time Zone Handling

In [60]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [17]:
tz = pytz.timezone('US/Eastern')
tz

### 3.1 Localization and Conversion

In [61]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = Series(np.random.randn(len(rng)), index=rng)
print(ts.index.tz)
ts

None

2012-03-09 09:30:00   -1.669671
2012-03-10 09:30:00    0.154629
2012-03-11 09:30:00   -0.769568
2012-03-12 09:30:00   -0.320565
2012-03-13 09:30:00    0.734608
2012-03-14 09:30:00   -0.084706
Freq: D, dtype: float64

In [62]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [63]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00   -1.669671
2012-03-10 09:30:00+00:00    0.154629
2012-03-11 09:30:00+00:00   -0.769568
2012-03-12 09:30:00+00:00   -0.320565
2012-03-13 09:30:00+00:00    0.734608
2012-03-14 09:30:00+00:00   -0.084706
Freq: D, dtype: float64

In [64]:
ts_utc.tz_convert('US/Eastern')

2012-03-09 04:30:00-05:00   -1.669671
2012-03-10 04:30:00-05:00    0.154629
2012-03-11 05:30:00-04:00   -0.769568
2012-03-12 05:30:00-04:00   -0.320565
2012-03-13 05:30:00-04:00    0.734608
2012-03-14 05:30:00-04:00   -0.084706
Freq: D, dtype: float64

### 3.3 Operations with Time Zone

In [22]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('US/Eastern')

Timestamp('2011-03-11 23:00:00-0500', tz='US/Eastern')

## 4. Resampling and Frequency Conversion

Resampling refers to the process of converting a time series from one frequency to another. Aggregating higher frequency data to lower frequency is called downsampling, while converting lower frequency to higher frequency is called upsampling.

In [65]:
rng = pd.date_range('1/1/2000', periods=100, freq='D')
ts = Series(np.random.randn(len(rng)), index=rng)
ts.resample('M').count()

2000-01-31    31
2000-02-29    29
2000-03-31    31
2000-04-30     9
Freq: M, dtype: int64

### 4.1 Downsampling

In [66]:
rng = pd.date_range('1/1/2000', periods=12, freq='T')
ts = Series(np.arange(12), index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int64

In [68]:
ts.resample('5min').sum()

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int64

In [69]:
ts.resample('5min', closed='right').sum() #by default closed = 'left'

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int64

In [70]:
ts.resample('5min',  closed='left', label='right').sum()

2000-01-01 00:05:00    10
2000-01-01 00:10:00    35
2000-01-01 00:15:00    21
Freq: 5T, dtype: int64

### 4.2 Open-High-Low-Close Resampling

In [29]:
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

### 4.3 Resampling with GroupBy

In [71]:
rng = pd.date_range('1/1/2000', periods=100, freq='D')
ts = Series(np.arange(100), index=rng)
ts.groupby(lambda x: x.month).mean()

1    15
2    45
3    75
4    95
dtype: int64

In [72]:
ts.groupby(lambda x: x.weekday).mean()

0    47.5
1    48.5
2    49.5
3    50.5
4    51.5
5    49.0
6    50.0
dtype: float64

### 4.4 Upsampling and Interpolation

In [34]:
import numpy as np
frame = pd.DataFrame(np.random.randn(3, 4),
                  index=pd.date_range('1/1/2000', periods=3, freq='W-WED'),
                  columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame[:5]

            Colorado     Texas  New York      Ohio
2000-01-05 -0.437913 -0.575698 -0.233981  1.672972
2000-01-12 -0.229312 -0.222325 -0.459737  0.554563
2000-01-19  0.136624 -0.389955  1.347373 -0.268281

In [35]:
frame.resample('D')

In [36]:
frame.resample('D').ffill()

            Colorado     Texas  New York      Ohio
2000-01-05 -0.437913 -0.575698 -0.233981  1.672972
2000-01-06 -0.437913 -0.575698 -0.233981  1.672972
2000-01-07 -0.437913 -0.575698 -0.233981  1.672972
2000-01-08 -0.437913 -0.575698 -0.233981  1.672972
2000-01-09 -0.437913 -0.575698 -0.233981  1.672972
2000-01-10 -0.437913 -0.575698 -0.233981  1.672972
2000-01-11 -0.437913 -0.575698 -0.233981  1.672972
2000-01-12 -0.229312 -0.222325 -0.459737  0.554563
2000-01-13 -0.229312 -0.222325 -0.459737  0.554563
2000-01-14 -0.229312 -0.222325 -0.459737  0.554563
2000-01-15 -0.229312 -0.222325 -0.459737  0.554563
2000-01-16 -0.229312 -0.222325 -0.459737  0.554563
2000-01-17 -0.229312 -0.222325 -0.459737  0.554563
2000-01-18 -0.229312 -0.222325 -0.459737  0.554563
2000-01-19  0.136624 -0.389955  1.347373 -0.268281

In [37]:
frame.resample('D').ffill(limit=2)

            Colorado     Texas  New York      Ohio
2000-01-05 -0.437913 -0.575698 -0.233981  1.672972
2000-01-06 -0.437913 -0.575698 -0.233981  1.672972
2000-01-07 -0.437913 -0.575698 -0.233981  1.672972
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -0.229312 -0.222325 -0.459737  0.554563
2000-01-13 -0.229312 -0.222325 -0.459737  0.554563
2000-01-14 -0.229312 -0.222325 -0.459737  0.554563
2000-01-15       NaN       NaN       NaN       NaN
2000-01-16       NaN       NaN       NaN       NaN
2000-01-17       NaN       NaN       NaN       NaN
2000-01-18       NaN       NaN       NaN       NaN
2000-01-19  0.136624 -0.389955  1.347373 -0.268281

In [38]:
frame.resample('D').interpolate(method = 'nearest')

            Colorado     Texas  New York      Ohio
2000-01-05 -0.437913 -0.575698 -0.233981  1.672972
2000-01-06 -0.437913 -0.575698 -0.233981  1.672972
2000-01-07 -0.437913 -0.575698 -0.233981  1.672972
2000-01-08 -0.437913 -0.575698 -0.233981  1.672972
2000-01-09 -0.229312 -0.222325 -0.459737  0.554563
2000-01-10 -0.229312 -0.222325 -0.459737  0.554563
2000-01-11 -0.229312 -0.222325 -0.459737  0.554563
2000-01-12 -0.229312 -0.222325 -0.459737  0.554563
2000-01-13 -0.229312 -0.222325 -0.459737  0.554563
2000-01-14 -0.229312 -0.222325 -0.459737  0.554563
2000-01-15 -0.229312 -0.222325 -0.459737  0.554563
2000-01-16  0.136624 -0.389955  1.347373 -0.268281
2000-01-17  0.136624 -0.389955  1.347373 -0.268281
2000-01-18  0.136624 -0.389955  1.347373 -0.268281
2000-01-19  0.136624 -0.389955  1.347373 -0.268281